
<div class="content">
    <div class="content-inside">
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a style="background-color: #01A9DB;color: white" class="nav-link active" id="home-tab"
                        data-toggle="tab" role="tab" aria-controls="home" aria-selected="false"><b>Chamados Pendentes -   
                          {if="totalChamadosPendentes() == 0"}
                          Nenhum Registrado
                          {elseif="totalChamadosPendentes() == 1"}
                          {function="totalChamadosPendentes()"} Registrado
                          {else}
                          {function="totalChamadosPendentes()"} Registrados
                          {/if}  </b></a>

                </li>
            </ul>


            {if="$profileMsg != ''"}
            <div class="alert alert-success">
                <b>{$profileMsg}</b>
            </div>
            {/if}

             {if="totalChamadosPendentes() != 0"}
            
                <div class="search"  style="float: right">
                  <form  action="/admin/calls-pendings" method="get" >
                        <div class="input-group">
                          <input   type="text" name="search"  class="form-control" placeholder="Digite sua pesquisa...">
                              <span  class="input-group-btn">
                                <button  class="btn btn" style="background-color: #01A9DB;color: white" type="submit"  id="search-btn"  ><i class="fa fa-search"style="font-size:13px;" > PESQUISAR</i>
                                </button>
                              </span>
                        </div>
                      </form>
                 </div><br><br>
             <div class="table-responsive">
            <table class="table table-hover  table-bordered">
                <thead style="background-color: #D8D8D8">
                  <tr style="font-size: 16px; font-weight: bold; " >
                    
                    <th  ><center>N° Chamado<b></th>
                    <th  ><center>Usuário<b></th>
                    <th  ><center>Cargo<b></th>
                    <th><center>Loja</th>
                    <th  ><center>Problema<b></th>
                    <th ><center>Observação</th>
                    <th><center>Fotos</th>
                     <th><center>Situação</th>
                    <th><center>Data de Registro</th>
                    <th><center>Excluir</th>

                  </tr>
                </thead>
                <tbody>
                  {loop="$chamadosPendentes"}
                  <tr style="font-size: 15px;font-weight: normal;">
                     <td><br><center>{$value.id_chamado}</td>
                    <td><br><center>{$value.nome}</td>
                     <td><br><center>{$value.cargo}</td>
                    <td><br><center>{$value.loja}</td>
                    <td><br><center>{$value.problema}</td>

                    <td><br><center>{$value.observacao}</td>
                   
                   {if="nomeFotos($value.id_chamado) == ''"}
                       <td><br><center><b>Sem Fotos</b></td>
                        {else}
                    <td><br><center>   <a href="/admin/calls/images/{$value.id_chamado}" style="width: 100px;" class="btn btn-info btn-sm" >
                      {if="numFotos($value.id_chamado) == 1"}
                      <b>{function="numFotos($value.id_chamado)"} Foto</b></a>
                      {else}
                      <b>{function="numFotos($value.id_chamado)"} Fotos</b></a>
                      {/if}
                   </td/>
                      {/if}
                   </td/>
                     <td><br><center>
                     

                          <a style="width: 80px;" href="/admin/chamado-situacao/{$value1.id_chamado}" onclick="return confirm('Deseja alterar a situação do chamado nº {$value1.id_chamado}?')" type="button" class="btn btn-outline-danger btn-sm ">Pendente</a></td>
                     
                      </td>
                 

                    <td><br><center>{function="formatDate($value.data_registro)"}</td>
                    <td><br><center> <a style="width: 80px;" href="/admin/chamados/delete/{$value.id_chamado}"  onclick="return confirm('Deseja realmente excluir o chamado nº {$value.id_chamado}?')" class="btn btn-danger btn-sm"> Excluir</a></td>
                   
                   
                  </tr>
                  
                  {/loop}
                </tbody>
              </table>
              </div>
              <br>
              <center>
            <div class="box-footer clearfix">
              <ul class="pagination">
               {loop="$pages"}
                          {if="$pages == $value.link"} 
                       <li> <a class="active"href="{$value.link}">{$value.page}</a></li>
                        {else}
                        <li><a href="{$value.link}">{$value.page}</a></li>
                          {/if}
                        {/loop}
              </ul>
            </div>
          </center>

          </div>
           {/if}
          <a href="javascript:history.back()" class="btn btn-info btn-xs">Voltar</a>


            <hr class="my-4" />


        
    </div>
</div>



      