	<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart Suport</title>
	<link href="/res/user/img/icon.png" rel="icon">
	<link rel="stylesheet" href="/res/user/css/login_style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

	<!--form area start-->

	<center><img src="res/user/img/logo.png" class="logo"  alt=""></center>

	<div class="form">
		<form class="login-form" action="/login" method="post">

			{if="$profileMsg != ''"}
			<div class="alert alert-success">
				{$profileMsg}
			</div>
			{/if}
			{if="$error != ''"}
			<div class="alert alert-danger">
				{$error}
			</div>
			{/if}

			{if="$errorRegister != ''"}
			<div class="alert alert-danger">
				{$errorRegister}
			</div>
			{/if}

			<input    class="user-login" type="text" name="login" placeholder="login" required>
			<input class="user-login" type="password" name="senha" placeholder="Senha" required>
			
			
			<input class="btn" type="submit" name="" value="Acessar">
			<div class="options-02">
				<p>&copy; Smart Suport 2021</p>
			</div>
		</form>

		
		<!--login form end-->
		<!--signup form start-->

	
		<!--signup form end-->
	</div>
	<!--form area end-->

	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script src="/res/user/js/functions.js"></script>

	<script type="text/javascript">
		$('.options-02 a').click(function () {
			$('form').animate({
				height: "toggle", opacity: "toggle"
			}, "slow");
		});
	</script>

</body>

</html>